body {
    margin: 0px;
    background-color: #00ADB5;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Public Sans', sans-serif;
}

header {
    background-color: #222831;
    color: #EEEEEE;
    height: 80px;
    text-align: center;
}

nav {
    background-color: #393E46;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.nav-link {
    color: #00ADB5;
    text-decoration: none;
}

main {
    background-color: #00ADB5;
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: auto auto auto;
        flex-direction: row;
        padding: 0px;
    }

    img {
        transition: transform .5s, filter 1.5s ease-in-out;
        filter: grayscale(40%);
        height: 230px;
    }

    img:hover {
        filter: grayscale(0);
        transform: scale(1.1);
    }
}

.shop-items {
    display: grid;
    place-items: center;
    padding: 8px;
    text-align: center;
}

.price {
    size: 12px;
}


.item-name {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.item-description {
    margin: 0px;
    padding: 6px;
}

button {
    background-color: #6FDFDF;
    color: #5534A5;
    opacity: 0.7;
    transition: opacity 230ms;
    border-radius: 4px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    height: 20px;
}

button:hover {
    opacity: 1;
}

footer {
    background-color: #EEEEEE;
    height: 80px;
}

.footer-link {
    color: #00ADB5;
    text-decoration: none;
    font-weight: 600;
}

#footer-menu {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.footer-text {
    text-align: center;
}


@media (max-width: 768px) {
    .container {
        display: flex;
        flex: auto;
        flex-direction: column;
    }

    img {
        width: 270px;
    }

    img:hover {
        filter: none;
        transform: none;
    }

    button {
        opacity: 1;
        font-weight: 700;
        height: 40px;
        width: 150px;
    }

    button:hover {
        filter: none;
        transform: none;
    }

    nav {
        background-color: #393E46;
        display: flex;
        flex: 2;
        flex-direction: row;
        padding: 5px;
        text-align: center;
        font-size: 20px;
    }
}